body{
    font-size: 12px;
    
}
a{
  text-decoration: none;
  color:black;
}
.background-wrath{
  background-color: $bright-red;
}
a:hover{
  color:red;
}
a h2:hover{
  color:red;
}
span{
  font-size:3rem;
  text-align: center;
}
.welcome-bg{
    /*background-image:url('../images/background-texture.png');
    width: 100%;*/
    background-image: url('../images/background.jpg');
    background-size: cover; 
    overflow: hidden;
}

.btn-card {
  display: inline-block;
  position: relative;
  text-decoration: none;
}

.btn-card img {
  width: 100%;
  height: auto;
}

.btn-card h2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black; /* Set the color to be visible on the image */
  margin: 0;
}
.limbo{
  
    background-image:url('../images/limbo.png');
    background-size: 100%;
    background-repeat: no-repeat;
    height:40vh;
  
  
}


.red-lust{
  background-color:$red-lust;
}
.lusth{font-size:5rem;}

.lust p{
  text-align: center;
}
.lust{
  background-image:url('../images/girls.png');
  background-size: 100%;
  background-repeat: no-repeat;
 

}

.red-glut{
  background-color:$red-glut;
}
.red-greed{
  background-color:$red-greed;
}
.red-wrath{
  background-color:$red-wrath;
}
.red-heresy{
  background-color:$red-heresy;
}
.red-violence{
  background-color:$red-violence;
}
.red-fraud{
  background-color:$red-fraud;
}
.red-traitory{
  background-color:$red-traitory;
}
.red-devil{
  background-color:$red-devil;
}
.under-welcome{
    background-color: $bright-red;
    margin-top:-3px;
    height:170px;
}

.gluttony span{
  font-size: 1.25rem;
}
.gluttony {
  font-size:2rem;
}
h1{
    font-family: "kon-tiki-aloha-jf", sans-serif;
    font-weight: 400;
    font-style: normal;
}
h2{    font-family: "kon-tiki-aloha-jf", sans-serif;
    font-size:1.25rem;
    font-weight: 400;
    font-style: normal;}
.small-h{
    font-size:.5rem;
}
 .white-button{position:absolute;}     
.text-image-hold {
    position: relative;
    text-align: center;
    color: black;
    margin-top:30px;
    
  }
  .mission{
    text-align: center;
  }
  p{
    font-family: "alternate-gothic-atf", sans-serif;
font-weight: 400;
font-style: normal;
color:black;
font-size:1.5rem;
  }
  .items {
    overflow: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 13vh;
  }
  .item {
    width: 50%;
  }
  .item.group-a {
  
    order: 10;
  }
  .item.group-b {
    
    order: 20;
  }
  
  .devil-number{
    font-size:3rem;
    font-family: 'fairviewsmall_caps';
    color:black;
    margin-bottom:-1rem;
   
   
  }
  .devil-number::before{
    content:url('../images/phone-icon.svg');
  
  }
  .items:before {
    content: "";
    order: 15;
    height: 100vh;
  }
  @media only screen and (max-width: 400px) {
    .item.group-a, .item.group-b {
      width: 100%;
    }
    .item.group-a {
        order: 10;
    }
    .item.group-b {
        order: 10;
        
    }
    .lusth{font-size:2rem;}
    .girls{
      margin-top:127px;
    }
  }
  @media only screen and (min-width: 400px) {
    .under-welcome{
        background-color: $bright-red;
        margin-top:-3px;
   
    }
    .text-image-hold {
        position: relative;
        text-align: center;
        color: black;
        margin-top:33px;
        
      }
      .lusth{font-size:2rem;}
      .girls{
        margin-top:127px;
      }
   }

@media only screen and (min-width: 430px) {
    .under-welcome{
        background-color: $bright-red;
        margin-top:-3px;
      
    }
    .text-image-hold {
        position: relative;
        text-align: center;
        color: black;
        margin-top:35px;
        
      }
      .lusth{font-size:2rem;}
      .girls{
        margin-top:52px;
      }
   }
   @media only screen and (min-width: 540px) {
    .under-welcome{
        background-color: $bright-red;
        margin-top:-3px;
       
    }
    .text-image-hold {
        position: relative;
        text-align: center;
        color: black;
        margin-top:40px;
        
      }
      .lusth{font-size:2.5rem;}
      h2{    font-family: "kon-tiki-aloha-jf", sans-serif;
        font-size:1.5rem;
        font-weight: 400;
        font-style: normal;
        .small-h{
            font-size:.5rem;
        }}
   }
   @media only screen and (min-width: 625px) {
    .under-welcome{
        background-color: $bright-red;
        margin-top:-3px;
    
    }
    .text-image-hold {
        position: relative;
        text-align: center;
        color: black;
        margin-top:45px;
        
      }
      h2{    font-family: "kon-tiki-aloha-jf", sans-serif;
        font-size:1.5rem;
        font-weight: 400;
        font-style: normal;
        .small-h{
            font-size:.5rem;
        }}

        .limbo{
  
          background-image:url('../images/limbo.png');
          background-size: 100%;
          background-repeat: no-repeat;
          height:45vh;
        
        
      }
      .glutpent{
        margin-top:-7px;
      }
   }
   @media only screen and (min-width: 700px) {
    .under-welcome{
        background-color: $bright-red;
        margin-top:-3px;
     
    }
    .text-image-hold {
        position: relative;
        text-align: center;
        color: black;
        margin-top:50px;
        
      }

      .limbo{
  
        background-image:url('../images/limbo.png');
        background-size: 100%;
        background-repeat: no-repeat;
        height:45vh;
      
      
    }
      h2{    font-family: "kon-tiki-aloha-jf", sans-serif;
        font-size:1.5rem;
        font-weight: 400;
        font-style: normal;
        .small-h{
            font-size:.5rem;
        }}
        .glutpent{
          margin-top:-7px;
        }
   }
   
   @media only screen and (min-width: 768px) {
    .under-welcome{
        background-color: $bright-red;
        margin-top:-3px;
      
    }
    .text-image-hold {
        position: relative;
        text-align: center;
        color: black;
        margin-top:47px;
        
      }
      h2{    font-family: "kon-tiki-aloha-jf", sans-serif;
        font-size:1.5rem;
        font-weight: 400;
        font-style: normal;
        .small-h{
            font-size:.5rem;
        }}
        .limbo{
  
          background-image:url('../images/limbo.png');
          background-size: 100%;
          background-repeat: no-repeat;
          height:50vh;
        
        
      }
      .glutpent{
        margin-top:-7px;
      }
   }
   @media only screen and (min-width:900px) {
    .under-welcome{
        background-color: $bright-red;
        margin-top:-3px;
        
    }
    .text-image-hold {
        position: relative;
        text-align: center;
        color: black;
        margin-top:50px;
        
      }
      h2{    font-family: "kon-tiki-aloha-jf", sans-serif;
        font-size:2rem;
        font-weight: 400;
        font-style: normal;
        .small-h{
            font-size:.5rem;
        }}
        .lusth{font-size:4rem;}
        .glutpent{
          margin-top:25px;
        }
   }
   @media only screen and (min-width:1000px) {
    .under-welcome{
        background-color: $bright-red;
        margin-top:-3px;
      
    }
    .text-image-hold {
        position: relative;
        text-align: center;
        color: black;
        margin-top:55px;
        
      }
      .glutpent{
        margin-top:25px;
      }

      .limbo{
  
        background-image:url('../images/limbo.png');
        background-size: 100%;
        background-repeat: no-repeat;
        height:65vh;
      
      
    }
      h2{    font-family: "kon-tiki-aloha-jf", sans-serif;
        font-size:2rem;
        font-weight: 400;
        font-style: normal;
        .small-h{
            font-size:.5rem;
        }}
   }
   @media only screen and (min-width:1100px) {
    .under-welcome{
        background-color: $bright-red;
        margin-top:-3px;
    
    }
    .text-image-hold {
        position: relative;
        text-align: center;
        color: black;
        margin-top:60px;
        
      }
      h2{    font-family: "kon-tiki-aloha-jf", sans-serif;
        font-size:2rem;
        font-weight: 400;
        font-style: normal;}
   }
   @media only screen and (min-width:1200px) {
    .under-welcome{
        background-color: $bright-red;
        margin-top:-3px;
     
    }
    .text-image-hold {
        position: relative;
        text-align: center;
        color: black;
        margin-top:70px;
        
      }
      h2{    font-family: "kon-tiki-aloha-jf", sans-serif;
        font-size:2rem;
        font-weight: 400;
        font-style: normal;}
        .glutpent{
          margin-top:9px;
        }
   }

